name: Update Profile Content

on:
  schedule:
    - cron: "0 0 * * *" # Runs every midnight
  workflow_dispatch:

jobs:
  update-quote:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-quote@release/v1
        with:
          quote-mode: dark
          title: "Quote Of The Day"
          set_mode: random